<form action="" #formulaire="ngForm">
<div class="mb-3" ngModelGroup="f1">
    <label for="" class="form-label">Id Produit</label>
    <input required type="number" class="form-control" name="" id="" >
    <label for="" class="form-label">Code</label>
    <input required type="text" class="form-control" name="" id="" >
    <label for="" class="form-label">Libelle</label>
    <input required type="text" class="form-control" name="" id="" >
    <label for="" class="form-label">Prix Unitaire</label>
    <input required type="number" class="form-control" name="" id="" >
    <button class="btn btn-primary">Suivant</button><br>
    <label for="" class="form-label">Id détails produit</label>
    <input required type="number" class="form-control" name="" id="" >
    <label for="" class="form-label">Date création</label>
    <input required type="text" class="form-control" name="" id="" >
    <label for="" class="form-label">Date dérnière modification</label>
    <input required type="text" class="form-control" name="" id="" >
    <label for="" class="form-label">Catégorie produit</label>
    <select required class="form-select form-select-lg" name="" id="">
        <option selected>Electromenager</option>
        <option value="">Alimentaire</option>
        <option value="">Quincaillerie</option>
    </select>
</div>
</form>